html{
    overflow-y: auto;
    overflow-x: hidden;
}
#loginTitulo{
    background: #283e4a;
    color:white;
}
h1{
    text-align: center;
}
button{
    background: #0073b1;
    border: 0;
    color: white;
    border-radius: 2px;
}


textarea{
    resize: none;
    height: 73px;
}
body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    background-color: #eaeded;
    line-height: normal;
    color: #404041;
    font-size: 16px;
}
#cargando{
    background: rgba(163, 160, 173, 0.37) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
#mapa,#mapa2{
    width: 100%;
    height: 230px;
    margin: 13px 1px;
}
#cargando img{
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 200px;
    position: relative;
    padding-left: 7px;
}
#cargando div{
    border-radius: 216px;
    height: 280px;
    margin: 155px auto;
    padding: 0;
    width: 200px;
    text-align: center;
}
#cargando span{
    display: block;
    padding-top: 8px;
    font-weight: 500;
    color: #343a40;
    font-size: 22px;
    font-style: italic;
}
#msmOK button{
    background: #4484c2;
    margin: 15px 5px;
    margin-bottom: 1px;
}
#msmOK .no{
    background: #6c757d;
    border-bottom: #6c757d;
    box-shadow: 0 0 3px 0px #6c757d;
}
#msmOK .mensaje{
    font-size: 14px;
    font-weight: 600;
    margin-top: 6px;
}
#msmOK .titulo{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
#msmOK .boxmensaje{
    width: 420px;
    margin: 30px auto;
    padding: 11px;
    background: white;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;

}
#msmOK{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
}
#alertaRapida{
    background: red;
    color: white;
    text-align: center;
    box-shadow: 0px 2px 2px 0px black;
    padding: 5px 20px;
    display: inline-block;
    position: fixed;
    z-index: 10000;
    right: 0;
    border-radius: 5px 0 0 5px;
    top: 15px;
    border: 1px solid black;
    margin-top: -500px;
}
.alertaConfirmacion{
    box-shadow: 0 0 2px 0px #398e39 !important;
    background: #398e39 !important;
    border: 1px solid #398e39 !important;
}
.popup{
    background: white;
    box-shadow: 0 0 3px 1px #7d7d7d;
    padding: 10px;
    display: none;
    z-index: 2;
    border-radius: 5px;
    width: 470px;
}
.background{
    background: rgba(20, 20, 20, 0.4) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    z-index: 1;
}
.tituloPop{
    font-size: 21px;
    margin-bottom: 2px;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}
.centrar{
    text-align: center;
    margin: 0 auto;
}
.minitext{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    color: black;
    position: relative;
    top: 5px;
    overflow: auto;
}
.pequeno{
    width: 54px;

}
.pequeno2{
    width: 25px;
}
.chico{
    width: 70px;
}

.normal{
    width: 97px;
}
.medio{
    width: 150px;
}
.grande{
    width: 200px;
}
.grande2{
    width: 250px;
}
.grande3{
    width: 300px;
}
.grande4{
    width: 500px;
}
select{
    border: 1px solid rgba(33,37,41,.15);
    border-radius: .25rem;
    padding: 0.321rem .75rem;
}
.inlineblock{
    display: inline-block;
}
.negrilla{
    font-weight: 500;
    color: #343a40;
}
.negrillaenter{
    display: block;
    padding-top: 3px;
    font-weight: 500;
    color: #343a40;
}
table{
    text-align: center;
    font-size: 12px;
}
tbody{
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
table div{
    word-wrap: break-word;
    padding: 0 0;
}
table .pequeno{
    width: 74px;
}
table .pequeno2{
    width: 45px;
}
table .chico{
    width: 90px;
}
table .normal{
    width: 117px;
}
table .medio{
    width: 170px;
}
table .grande{
    width: 220px;
}
table .grande2{
    width: 270px;
}
table .grande3{
    width: 320px;
}
table{
    background: white;
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 12px;
}
input{
    border: 1px solid rgba(33,37,41,.15);
    border-radius: .25rem;
    padding: .375rem .75rem;
}
.col input,.col-1 input,.col-2 input,.col-3 input,.col-4 input,.col-5 input
,.col-6 input,.col-7 input,.col-8 input.col select,.col-1 select,.col-2 select
,.col-3 select,.col-4 select,.col-5 select,.col-6 select,.col-7 select,.col-8 select{
    width: 100%;
}
.alineacionIzquierda{
    float: left;
}
.alineacionDerecha{
    float: right;
}
.contenedor30{
    width: 29%;
    float: left;
    padding: 0;
}
.contenedor40{
    width: 39%;
    float: left;
    padding: 0;
}
.contenedor60{
    width: 59%;
    float: left;
    padding: 0;
}
.contenedor70{
    width: 69%;
    float: left;
    padding: 0;
}
.contenedor50{
    width: 50%;
    float: left;
    padding: 0;
}
.derecha{
    text-align: right;
}
.izquierda{
    text-align: left;
}
.ocultar{
    display: none;
}
.clear{
    clear: both;
}
td input{
    width: 100%;
    border: 0;
    margin-top: -7px;
    padding: 3px 5px;
    background: #e8eff7;
}
td div{
    padding: 6px 0;   
    height: 100%;
}
tr {
    display: flex;
}
.table td, .table th {
    padding: .35rem;

}

tfoot td{
    font-weight: bold;
}
tfoot{
    display: flex;
    margin-top: 4px;
}
.bloquear{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}
.fecha{
    width: 102px;
    background: #e8eff7;
}
.subrayar{
    text-decoration-line: underline;
    color: #62bace;
    font-style: italic;
    cursor: pointer;
}
.row{
    width: 100%;
}
.error{
    color: #f90017;
    font-size: 10px;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: auto;
    position: relative;
    top: 2px;
    margin-right: 4px;
}


.modal-header{
    padding: 3px 1rem;
    text-align: center;
}
.modal-body{
    padding: 10px 1rem; 
    overflow: auto;
}
.modal-footer{
    padding: 11px 1rem;
}
label{
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1;
    font-weight: 500;
}
.modal-dialog{
    max-width: 690px;
}
.btn-warning{
    color:white;
}
.btn{
    margin-top: -4px;
}
.modal-body .txt{
    padding: 8px 10px;
    font-size: 17px;
}
.table{
    margin-bottom: 0;
}
.fecha[readonly]{
    background: white;
}
button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    margin-top: -5px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.readonly{
    background:#ebebe4;
}
.inputTxt{
    border: 1px solid white;
    user-select: none; 
}
li{
    list-style-type: none;
}
ul{
    padding-left: 0;
    margin: 6px 10px;
}
.Tuplaseleccionada{
    background-color: rgb(186, 228, 207);
}

#menu{
    margin-left: 0;
    padding: 6px 0;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
}
.iconMenu:hover{
    border: solid 1px white;
}
.iconMenu{
    cursor: pointer;
    width: 37px;
    height: 37px;
    padding: 9px;
    border-radius: 6px;
}
.buscadorMenu img:hover{
    background: #c4e1e4;
}
.buscadorMenu img{
    margin-top: -4px;
    width: 41px;
    height: 41px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.buscadorMenu input:focus{
    outline: none !important;
    border:none;
    box-shadow: none;
}
.buscadorMenu input{                             
    width: 75%;
    border: none;
    padding: 0;

}
.buscadorMenu .categoria{
    background: #e4e4e4;
    display: inline-block;
    height: 100%;
    border-right: solid 1px silver;
    padding: 12px 7px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}
.buscadorMenu .categoria:hover{
    background: #e4e4e470;
}
.buscadorMenu{
    background: white;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.container-fluid{
    padding: 0;
}
#banner img{
    width: 100%;
    display: inline-block;
}
#banner{
    white-space: nowrap;
    width: auto;
    overflow-y: hidden; 
    overflow-x: hidden;
    margin: 0;
}
#arrowBanner .arrow{
    display: inline-block;
    opacity: 0.6;
    background: white;
    padding: 0px 20px;
    border-radius: 41px;
    height: 74px;
    text-align: center;
    cursor: pointer;
}
#arrowBanner .arrow:hover{
    opacity: 1;
}
#arrowBanner{
    font-size: 50px;
    text-align: center;
    margin-top: -339px;
    margin-bottom: 20px;
}
#banner li.item{
    width: 100%;
    height: 640px;
    display: inline-block;
}
#banner img{
    width: 100%;
}
#contenedorCategoria{
    margin: 0;
}
.link, a{
    color: #0066c0;
    font-size: 12px;
}
#contenedorCategoria img{
    width: 100%;
    height: 280px;
    margin-top: 10px;
    padding: 0;
}
#contenedorCategoria .titulo{
    font-size: 15px;
    font-weight: 600;
}
#contenedorCategoria .link{
    margin: 15px 0;
}
#contenedorCategoria .item{
    background: white;
    margin:  10px;
    height: 380px;
    padding: 15px;
}


.contenedorProductos .titulo{
    font-size: 18px;
    margin-bottom: 20px;
}
.contenedorProductos .content{
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 953px;
}
.vermas{
    color: #0066c0 !important;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    top: 6px;
}
.contenedorProductos{
    background: white;
    margin: 10px 0px;
    padding: 20px 20px;
}

.itemProducto img:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.itemProducto img{
    width: 110px;
    height: 110px;

}

.itemProducto .btnadd:hover{
    background:#01467d ;
    color:white;
    opacity: 0.7;
}
.itemProducto .btnadd span {
    top: -13px;
    position: relative;
    font-size: 22px;
}
.itemProducto .btnadd{
    border: solid 3px #01467d;
    color: #01467d;
    border-radius: 25px;
    font-weight: bold;
    float: right;
    background: white;
    margin-bottom: -32px;
    position: relative;
    margin-left: -12px;
    cursor: pointer;
    font-size: 28px;
    height: 27px;
    padding: 0px 2px;
    z-index: 2;
}

.itemProducto .precio{
    text-align: left;
    font-weight: 600;
    color: #565555;
}
.itemProducto .nombre:hover{
    cursor: pointer;
    text-decoration: underline;
}
.itemProducto .nombre{
    text-align: left;
    font-weight: normal;
    color: #565555;
    height: 39px;
    font-size: 13px;
    overflow: hidden;
}
.itemProducto{
    width: 130px;
    text-align: center;
    height: 170px;
    display: inline-block;
    margin: 5px 5px;
}
.overflowXcontent{
    white-space: nowrap;
    overflow-y: hide;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    display: inline-flex;
    flex-wrap: nowrap;
}
.addCarrito span{
    position: relative;
    top: 0px;
}
.addCarrito:hover{
    background:#01467d ;
    color:white;
}
.addCarrito{
    display: none;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    float: right;
    background: red;
    position: relative;
    margin-left: -12px;
    cursor: pointer;
    font-size: 11px;
    height: 19px;
    padding: 0px 2px;
    min-width: 18px;
    text-align: center;
}
.itemProducto .btnaddNro span{
    position: relative;
    font-size: 14px;
    top: 0px;
}
.itemProducto .btnaddNro{
    color: white ;
    background: #01467d ;
    font-size: 14px ;
    padding: 1px 5px ;
    z-index: 2;
}

.submenuLateral{
    background: white;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.boxSubcategoria{
    display: inline-block;
    background: #cecece;
    padding: 4px 13px;
    border-radius: 12px;
    margin: 6px 3px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.boxcategoria span{
    margin-left: 7px;
}
.boxcategoria img{
    width: 50px;
    height: 50px;
    border-radius: 12px 0 0 12px;
}
.boxcategoria{
    text-decoration: none;
    display: inline-block;
    background: #cecece;
    border-radius: 12px;
    margin: 10px 5px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding-right: 15px;
}
.boxcategoria:hover ,.boxSubcategoria:hover{
    opacity: 0.7;
    color: black;
}
.boxcategoria:link, .boxcategoria:visited, .boxcategoria:active,
.boxSubcategoria:link, .boxSubcategoria:visited, .boxSubcategoria:active{
    text-decoration:none !important;

}
.selectedSubcategoria{
    background: #4CAF50;
    color: white;
}
#menuProducto{
    padding: 10px;
    white-space: normal;

}
#resumenResultado{
    font-size: 18px;
    margin-bottom: 18px;
}
#buscarMas:hover{
    opacity: 0.7;
}
#buscarMas{
    text-align: center;
    font-size: 18px;
    color: #0066c0;
    cursor: pointer;
}
#popup,#detallePop{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#popup .background,#detallePop .background{
    background: #79747447;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
}
.pop .cuerpo{
    padding-bottom: 30px;
    height: 450px;
    overflow: auto;
}
.pop{
    background: white;
    max-width: 600px;
    width: 95%;
    z-index: 3;
    border-radius: 8px;
    box-shadow: 0 0 2px 0px black;
}
#popup .titulo{
    font-size: 17px;
    padding: 7px 10px;
    font-weight: bold;
    border-bottom: solid 3px silver;
    font-style: italic;
}

.pop .foot  span{
    margin-left: 20px;
    margin-right: 11px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}
.pop .foot{
    text-align: right;
    padding: 12px 13px;
    border-top: solid 3px silver;
}
.boxItemCarrito img{
    width: 80px;
    height: 80px;
    flex: 2;
    display: flex;
}
.boxItemCarrito{
    border-bottom: solid 1px silver;
    margin-top: 10px;
    padding: 8px 15px;
    flex-direction: row;
    display: flex;
}
.boxItemCarrito .precio{
    text-align: right;
    font-size: 13px;
    margin-left: 5px;
}
.boxItemCarrito .cantidad{
    display: inline-block;
    margin-left: 14px;
    font-style: italic;
}
.boxItemCarrito .cantidad .btn span{
    top: -10px;
    position: relative;
}
.boxItemCarrito .cantidad img{
    width: 10px;
    height: 10px;
    position: relative;
    top: 6px;
    left: 6px;
}
.boxItemCarrito input{
    width: 100%;
    position: relative;
    top: -24px;
    text-align: center;
    padding: 3px 21px;
    font-size: 12px;
    background: #e4e9f3;
    border-radius: 12px;
}
.boxItemCarrito .cantidad .btn{
    border: solid 1px silver;
    border-radius: 25px;
    width: 23px;
    height: 24px;
    padding: 0;
    color: black;
    z-index: 5;
    position: relative;
    background: #d6d6d6;
}
.boxItemCarrito .precioUni{
    font-size: 14px;
    font-style: italic;
    color: #676161;
    display: inline-block;
}
.boxItemCarrito .desripcion{
    flex: 7;
    padding: 0px;
}
.boxItemCarrito .nombre{
    height: 50px;
    overflow: hidden;
}
.boxItemCarrito .contenido{
    flex: 8;
    display: flex;
    font-size: 13px
}
.cerrar:hover{
    transform: scale(1.2);
}
.cerrar{
    float: right;
    cursor: pointer;
}
label{
    display: block;
}
.rojoClarito{
    background: #ff000033;
}
.iconLabel{
    color: white;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    position: relative;
    top: 4px;
    cursor: pointer;
    margin-left: 9px;
}
#bodyPage{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 51px !important;
}
#btnFlotante img{
    width: 60px;
    height: 60px;
}
#btnFlotante{
    position: fixed;
    bottom: 10px;
    right: -24px;
    background: white;
    z-index: 2;
    border-radius: 60px 0 0px 60px;
    padding: 14px;
    padding-right: 36px;
    box-shadow: 0px 1px 4px 0px black;
}
#detallePrecio{
    padding: 11px 0;
    font-size: 16px;
}
#detalleNombre{
    font-size: 17px;
    font-weight: bold;
    margin-top: -5px;
}
div#popDetalle img{
    width: 180px;
    height: 180px;
}
div#popDetalle {
    text-align: center;
    padding: 16px 9px;
}
#detalleDesc{
    font-size: 14px;
    padding: 12px 0px;
}
.contenidoModificable{
    flex: 2;
}
#fechaEntrega{
    font-size: 19px;
    margin: 10px;
}
.pop .foot .total{
    top:0;
}
.itemProducto label.add{
    float: right;
    font-size: 17px;
    margin-right: -3px;
    position: relative;
    top: -7px;
    display: none;
}
.itemProducto span.activo{
    padding: 0 9px;
}
.itemProducto label.less{
    float: left;
    font-size: 20px;
    margin-left: -3px;
    position: relative;
    top: -10px;
    display: none;
}
@media screen and (max-width : 1024px) {
    #contenedorCategoria img{
        height: 200px;
    }
    #contenedorCategoria .titulo{
        font-size: 12px;
        height: 33px;
        overflow: hidden;
        text-align: center;
    }
    #contenedorCategoria .item{
        margin: 5px;
        height: 300px;
    }
    #arrowBanner{
        display: none;
    }
    #banner img{
        height: auto;
    }
    #banner .item{
        height: auto !important;
    }
    #btnFlotante img{
        width: 40px;
        height: 40px;
    }
    .boxItemCarrito .nombre{
        font-size: 13px;
    }
    .boxItemCarrito img{
        width: 50px;
        height: 50px;
    }
    .boxItemCarrito .precioUni{
        font-size: 12px
    }
    .boxItemCarrito .cantidad{
        font-size: 12px
    }
    .contenidoModificable{
        flex: 5;
    }
    #popup .titulo{
        font-size: 14px;
    }
    .pop .foot{
        text-align: center;
    }
    .pop .foot span {
        margin-left: 20px;
        margin-right: 11px;
        font-style: italic;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        top: 4px;
    }

    .pop .foot button{
        font-size: 12px;
        margin-top: 8px;
    }
    label{
        font-size: 13px;
    }
    span#txtCostoEnvio {
        width: 100%;
        padding-bottom: 3px;
    }
    div#fechaEntrega {
        font-size: 14px;
        margin: 8px 10px;
    }
    #hora span{
        font-size: 13px;
    }
    .spanPop{
        font-size: 13px;
        margin-bottom: 15px;
    }
    .boxcategoria{
        font-size: 12px;
    }
    .boxcategoria img{
        width: 36px;
        height: 36px;
    }
    a.boxSubcategoria{
        font-size: 13px;
        font-weight: normal;
    }
    #resumenResultado{
        font-size: 14px;
    }
    .itemProducto .btnadd span {
        top: -8px;
    }
    .itemProducto .btnaddNro span {
        top: 0px; 
    }
}
@media screen and (max-width : 420px) {
    #contenedorCategoria img{
        height: 110px;
        max-width: 110px;
    }
    
    
    
    
    .itemProducto .btnadd span {
        top: -11px;
    }
    .itemProducto .btnaddNro span{
        top: 0px;
    }
    #contenedorCategoria .item{
        height: 190px;
        margin: 2px;
        text-align: center;
        padding: 7px 9px;
    }
    #btnFlotante img{
        width: 40px;
        height: 40px;
    }
    .contenedorProductos {
        background: white;
        margin: 10px 0px;
        padding: 10px 12px;
    }
    .contenedorProductos .titulo {
        font-size: 15px;
    }
    .vermas{
        top: -2px;
    }

}

